[submodule "public"]
	path = public
	url = https://github.com/zbm2001/ebookcoin-client.git
[submodule "test/ebookcoin-js"]
	path = test/ebookcoin-js
	url = https://github.com/zbm2001/ebookcoin-js.git
